<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

  <context:annotation-config/>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/picdb?CLIENT_MULTI_STATEMENTS=true&amp;cachePrepStmts=false"/>
    <property name="username" value="test"/>
    <property name="password" value="test"/>
<!--     <property name="connectionProperties">
      <util:map value-type="java.util.Properties" key-type="java.lang.String">
       <entry key="CLIENT_MULTI_STATEMENTS" value="true"/>
       <entry key="cachePrepStmts" value="false"/>
      </util:map>
    </property>
     -->
  </bean>

  <bean id="barleydbBoot" class="scott.barleydb.bootstrap.JdbcEnvironmentBootstrap">
    <property name="dataSource" ref="dataSource"/>
    <property name="topNamespace" value="scott.playspec"/>
    <property name="specs">
      <list>
        <!-- <value>/home/scott/dev/projects/picdb/src/test/java/org/example/etl/etlspec.xml</value> -->
        <value>/home/scott/dev/projects/playspec/src/main/resources/scott/playspec/schema/playspec-spec.xml</value>
      </list>
    </property>
  </bean>
  <bean id="barleydbEnv" factory-bean="barleydbBoot" factory-method="getEnvironment"/>

  <bean id="crudService" class="scott.barleyrs.rest.CrudService" scope="request"/>

  <bean id="adminService" class="scott.barleyrs.rest.AdminService"/>

</beans>
